.select-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 70px;
  & > label {
    font-size: 10px;
  }
}

.settings-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 70px;

  .connected-indicator {
    font-style: italic;
  }

  h4 {
    margin-left: 4px;
    margin-bottom: 10px;
  }

  button {
    background: none;
    border: 0;
  }

  .dialog {
    font-family: "Space mono";
    background: var(--Neutral-5);
    border-radius: 18px;
    color: var(--Neutral-80);
    border: 0;
    padding: 15;
    margin: 0;
    position: fixed;
    top: -400px;
    right: 0;
    width: 696px;
    height: 593px;
    transform: translate(-25%, -50%);
  }

  .dialog-container {
    box-sizing: border-box;
    padding: 32px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .small {
    font-size: 80%;
  }

  .mode-selectors {
    display: flex;
    gap: 1rem;
    padding: 8px 0;
  }

  .setting-row {
    padding: 5px;
  }

  input.system {
    border-radius: 12px;
    background-color: var(--Neutral-15);
    color: var(--Neutral-80);
    margin-top: 8px;
    font-family:
      Google Sans,
      sans-serif;
    line-height: 21px;
    font-size: 16px;
    field-sizing: content;
    width: calc(100% - 16px);
    min-height: 150px;
    height: 150px;
    padding: 8px;
    border: 0;
    resize: vertical;
    box-sizing: border-box;
  }

  input.system-small {
    border-radius: 12px;
    background-color: var(--Neutral-15);
    color: var(--Neutral-80);
    margin-top: 8px;
    font-family:
      Google Sans,
      sans-serif;
    line-height: 21px;
    font-size: 16px;
    field-sizing: content;
    width: calc(100% - 16px);
    min-height: 60px;
    height: 60px;
    padding: 8px;
    border: 0;
    resize: vertical;
    box-sizing: border-box;
  }

  .function-declarations {
    font-size: 66%;
    width: 100%;
    /* Enables vertical scrolling */
  }
}

