.select-group {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: 70px;
  & > label {
    font-size: 10px;
  }
}

.settings-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  height: 70px;
  border: 2px;
  border-color: var(--Neutral-80);

  .connected-indicator {
    font-style: italic;
  }

  h4 {
    margin-left: 4px;
    margin-bottom: 10px;
  }

  h1 {
    margin-left: 10px;
    margin-bottom: 10px;
  }

  .dialog {
    font-family: var(--font-family);
    font-size: 1.35rem;
    letter-spacing: 0.05em;
    background: var(--Neutral-10);
    border-radius: 18px;
    color: var(--Neutral-80);
    border: 1px solid var(--Neutral-60);
    padding: 15;
    margin: 0;
    position: fixed;
    top: -350px;
    right: 0;
    width: 696px;
    height: 623px;
    transform: translate(-25%, -50%);
  }

  .dialog-container {
    box-sizing: border-box;
    padding: 32px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .small {
    font-size: 80%;
  }

  .mode-selectors {
    display: flex;
    gap: 1rem;
    padding: 8px 0;
  }

  .setting-row {
    padding: 7px;
  }

  input.system {
    border-radius: 12px;
    background-color: var(--Neutral-15);
    color: var(--Neutral-80);
    margin-top: 8px;
    line-height: 21px;
    font-size: 18px;
    border: 1px solid var(--Neutral-60);
    field-sizing: content;
    width: calc(100% - 16px);
    min-height: 150px;
    height: 150px;
    padding: 8px;
    border: 0;
    resize: vertical;
    box-sizing: border-box;
  }

  input.system-small {
    border-radius: 12px;
    background-color: var(--Neutral-15);
    color: var(--Neutral-80);
    font-family: var(--font-family);
    border: 1px solid var(--Neutral-60);
    margin-top: 18px;
    line-height: 15px;
    font-size: 18px;
    field-sizing: content;
    width: calc(100% - 16px);
    min-height: 60px;
    height: 60px;
    padding: 8px;
    border: 0;
    resize: vertical;
    box-sizing: border-box;
  }

  .function-declarations {
    font-size: 66%;
    width: 100%;
  }

  .save-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 12px;
    padding: 12px 12px;
    font-size: 18px;
    background-color: var(--Accent-60); // fallback если переменная не задана
    color: var(--Neutral-80);
    cursor: pointer;
    transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--Neutral-60, #43a047);
  }

  &:active {
    background-color: var(--Neutral-80, #388e3c);
  }

  &:disabled {
    background-color: var(--Neutral-40);
    cursor: not-allowed;
    opacity: 0.6;
  }

  &.material-symbols-outlined {
    font-family: 'Material Symbols Outlined';
    font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
    font-size: 42px;
  }
}
}

