@import "../../styles/variables";
@import "../../styles/mixins";
@import "../../styles/buttons";
@import "../../styles/forms";

.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
    background-color: var(--Neutral-5);
}

  .auth-card {
    background: var(--Neutral-15);
    border: 1px solid var(--border-stroke);
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    padding: 32px;
    width: 400px;
    max-width: 90%;
    box-sizing: border-box;
}
    .auth-title {
    font-family: var(--font-family);
    font-size: 2rem;
    color: var(--text);
    margin-bottom: 24px;
    text-align: center;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.auth-button {
    @extend .btn;
    @extend .btn-primary;
  }

.error-message {
    color: var(--Red-500);
    margin-top: 8px;
    text-align: center;
}

.auth-switch {
    margin-top: 24px;
    text-align: center;
    color: var(--gray-300);
}

.link-button {
    @extend .btn-link;
}

.app-description-button {
    background: none;
    border: none;
    color: var(--accent-blue);
    cursor: pointer;
    font-size: 0.9rem;
    transition: color 0.3s ease;
    font-family: var(--font-family);
    display: block; /* Ensure it takes full width */
    margin: 16px auto 0; /* Center the button */
    text-align: center; /* Center the text */

    &:hover {
        color: var(--accent-blue-active);
    }
}

.auth-description-body {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 24px;
    text-align: center;
}
